* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(187, 167, 123);
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 350px;
  padding: 10px 20px;
  background-color: #241919;
  color: white;
  font-size: 30px;
}
.images-div {
  margin-top: 6px;
  display: flex;
  gap: 10px;
  
}
span{
  color: orange;
  font-size: 60px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
}
th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
th {
  background-color: #f4f4f4;
}
.a{
  text-decoration: none;
}
.a:hover{
  font-size: 20px;
  background-color: orange;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}
table tr td img{
  width: 50px;
  height: 50px;
} 



